<mat-toolbar style="height:60px;" fxLayout="row" fxLayoutAlign="start center"  class="toolbar-background font-color">
  <div >
    <img mat-card-image class="img-toolbar" src="../assets/icons/Group 34.svg" alt="maxwell">
  </div>

  <div class="toolbar-margin-left-items"  >
    <!-- <button fxHide.xs  fxHide.sm class="button-toolbar-text active-button-toolbar" disableRipple mat-button>
      <mat-icon  class="icon-toolbar active-icon-margin white-icon" svgIcon="dashboard-icon"></mat-icon>
      Dashboard
        <div class="active-button-bar"></div>

    </button> -->

    <button fxHide.xs  fxHide.sm class="button-toolbar-text-active active-button-toolbar" disableRipple mat-button>
        <img  src="../assets/icons/path-3.svg" class="active-icon-margin icon-toolbar-size" alt="dashboard">
        Dashboard
          <div class="active-button-bar"></div>
  
      </button>

    <button fxHide.md  fxHide.lg fxHide.xl class="button-toolbar-text-active active-button-toolbar" disableRipple mat-button>
        <img  src="../assets/icons/path-3.svg" class="active-icon-margin icon-toolbar-size" alt="dashboard">
      
        <div class="active-button-bar"></div>

    </button>
  </div>

  <div >
    <button fxHide.xs  fxHide.sm  disableRipple mat-button>
        <img  src="../assets/icons/Group 35.svg" class=" unactive-icon-margin icon-toolbar-size" alt="indicators">
      Indicators
    </button>

    <button fxHide.md  fxHide.lg fxHide.xl  disableRipple mat-button>
        <img  src="../assets/icons/Group 35.svg" class=" unactive-icon-margin icon-toolbar-size" alt="indicators">
        
      </button>
  </div>

  <div class="toolbar-right-content">
    <div fxFlex="100">
      <button  class="button-toolbar" disableRipple mat-button>
          <img  src="../assets/icons/sign-out.svg" class=" icon-toolbar-size" alt="indicators">
      </button>
    </div>
  
  </div>
  <div >
    
      <div fxHide.xs  fxHide.sm fxFlex="100">
        <img class="profile-icon" src="../assets/images/avatar.png" alt="">
      </div>
    </div>


</mat-toolbar>

<mat-sidenav-container class="example-container font-color">
  <mat-sidenav class="sidenav-background sidenav-padding-top" mode="side" #sidenav opened>
    <mat-nav-list>
      <a [ngClass]="{'active-menu-item': link.active}" class="font-color menu-item-font unactive-menu-item" mat-list-item  *ngFor="let link of links"> {{ link.title }} </a>
   </mat-nav-list>

   

  </mat-sidenav>
  <mat-sidenav-content class="content-background font-color">
    <div (click)="sidenav.toggle()" >
      <div   class="drawer-sidenav" ></div>
      <div class="drawer-sidenav-inner" ></div>
    </div>
    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>