<div fxLayout="row wrap" fxLayoutAlign="start start" class="row-margin-content-header">
  <div class="margin-left-home-items">
    <div class="home-title">Dashboard</div>
  </div>

</div>
<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center"
  fxLayoutGap="10vw grid">

  <div class="row-padding">
    <div class="card-icon margin-left-home-items">
      <img class="card-img" src="../../assets/icons/Group 31.svg" alt="">
      <div class="text-card">Inventario</div>
    </div>
  </div>
  <div class="row-padding">
    <div class="card-icon margin-left-home-items">
      <img class="card-img" src="../../assets/icons/path-6.svg" alt="">
      <div class="text-card">Agencias IATA</div>
    </div>
  </div>
  <div class="row-padding">
    <div class="card-icon margin-left-home-items">
      <img class="card-img" src="../../assets/icons/path-5.svg" alt="">
      <div class="text-card">Aerolíneas</div>
    </div>

  </div>
  <div class="row-padding">
    <div class="card-icon margin-left-home-items">
      <img class="card-img" src="../../assets/icons/Path 76.svg" alt="">
      <div class="text-card">Embarcador</div>
    </div>
  </div>
  <div class="row-padding">
    <div class="card-icon margin-left-home-items">
      <img class="card-img" src="../../assets/icons/path-7.svg" alt="">
      <div class="text-card">Trucks</div>
    </div>
  </div>
  <div class="row-padding">
    <div class="card-icon margin-left-home-items">
      <img class="card-img" src="../../assets/icons/path-4.svg" alt="">
      <div class="text-card">Administración DAE</div>
    </div>
  </div>
  <div class="row-padding">
    <div class="card-icon margin-left-home-items">
      <img class="card-img" src="../../assets/icons/users.svg" alt="">
      <div class="text-card">Clientes</div>
    </div>
  </div>
  <div class="row-padding">
    <div class="card-icon margin-left-home-items">
      <img class="card-img" src="../../assets/icons/path-1.svg" alt="">
      <div class="text-card">Fincas</div>
    </div>
  </div>













</div>



<div class="bottom-spacing"></div>